{% extends 'father.html' %}
{% block title%}Signup{% endblock %}
{% block body%}
<div class="form_div">
    <form action="/signup" method="POST" class="forms">
        <h2 class="heading-two" >Signup</h2>
        <label for="nm">Username: </label>
        <input type="text" placeholder="Username" name="nm" class="form_inputs" required/>
        <label for="pass">Password: </label>
        <input type="password" placeholder="Password" name="pass" class="form_inputs" required/>
        <button type="submit" class="form_btn ">Create Account</button>
    </form>
</div>
{% endblock %}


{%block foooter%}
{{pass}}
{% endblock %}